
RewriteEngine on
RewriteCond %{HTTP_HOST} ^kkm\.bismaoperation\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.kkm\.bismaoperation\.id$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/kkm\.bismaoperation\.id\/public\/" [R=301,L]

